extends layout

block content
  h1 All users
  pre #{users}
  <p><a href="../authenticate">Authenticate here</a></p>
  <p><a href="../users/add">Register here</a></p>
  <p><a href="../users">All users</a></p>